body{
  margin: 0;

  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);

  min-height: 100vh; /* no mínimo 100% view height, toda área disponível visível */
}

/* 
linear-gradient() é uma função >
É composto por 3 valores >
(graus, cor 1, cor2)

rbga é uma função >
É comporto por 4 valores >
(red,gren,blue,alfa=transparência) % que quer que apareça na tela;
alfa=transparência. 1 a 0, quando mais próximo de 0 mais transparente.

*/

.page{
  width: 1000px;
  margin: 0 auto 0px;
  padding: 65px;
}

nav{
  display: flex; /* Um ao lado do outro e não abaixo */
  justify-content: space-between; /*um em cada canto */
  align-items: center; /*na mesma linha - centralizado */

  margin-bottom: 55px; /*espaço abaixo*/

  font-family: 'Mulish', sans-serif;
}

ul{
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 23px;
}

ul li a{
  opacity: 0.5;
}

ul li a:hover{
  font-weight: bold;
  opacity: 1;
}

ul li a{
  text-decoration: none; /*tira o sublinhado*/
  color: #1F1534;
}

main{
  display: flex; /*Estava um em cima do outro, deixa um ao lado do outro */
  align-items: center; /* Todos centralizados horizontalmente na mesma linha */
  justify-content: space-between;
}

h1{
  font-family: 'Mulish', sans-serif;
  font-size: 49px;
  line-height: 56px;
  color: #000;
  font-weight: normal;
  width: 489px;
}

h1 span{
  color: #89C5CC;
  font-weight: bold;
}

section p{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: #7D7987;
  margin: 40px 0 40px;
}

button{ 
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #F9F9F9;
  text-transform: uppercase; /* Deixa o texto em maiusculo */
  background:  #69B99D;
  border: none;
  display: flex;
  align-items: center; /* Todos centralizados horizontalmente na mesma linha */
  justify-content: center; /*centralizado*/
  padding: 14px 32px 15px;
  gap: 10px; /* Espaço entre itens dentro da caixa do botão */
  border-radius: 4px; /* arrendondamento das bordas */
  /* cursor: pointer; */
}

button:hover{
  background:  #38886c;
}

footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: #000;
  text-align: center;
  margin-top: 80px;
}

footer a{
  color: #000;
  text-decoration: none;
}

#balls{
  position: fixed;
  bottom: 0;
  right: 0;
}

/* 
  Padding = preenchimento;
  Larfura = vai de borda a borda;
  A11y - Agência de Regulação de acessibilidade;
  W3C - Regulamenta HTML e CSS;
  Refatoração: muda algo no código que não pode alterar na página final;

  : = pseudo class
  hover: quando o mouse estiver em cima;
*/

